---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Portfolio | Inaki Carcereny">
  <span class="text-white font-semibold text-2xl">Hello 👋</span>
	<p class="text-white font-semibold mt-4 text-lg">
    My name is iñaki, I'm 18 years old and I am a web developer <span class="text-lime-900">who is currently studying self-taught</span>, I'm from Argentina, Buenos Aires, Bahia Blanca.
  </p>
  <p class="text-white font-semibold mt-4 text-lg">
    <span class="text-lime-900">I did a year of systems engineering at UNS, one of the best universities in Latin America</span>, until I realized that the university was not for me and that path was not going to achieve what I wanted, to be a great web developer.
  </p>
  <p class="text-white font-semibold mt-4 text-lg">
    I'm passionate about every part of what being a programmer entails, from the hours one spends reading code to the hours spent studying, researching and learning about new technologies, it is a lifestyle that shares a lot with my way of being.
  </p>
  <p class="text-lime-900 font-semibold mt-4 text-lg">
    I'm a young man very focused on his objective, willing to sacrifice anything to achieve it, studious, a good person and predisposed to work and achieve solutions regardless of the difficulty or time it may take.
  </p>   
</Layout>
