---
import Layout from "../layouts/Layout.astro";


import JavascriptIcon from "../icons/JavascriptIcon.astro";
import HtmlIcon from "../icons/HtmlIcon.astro";
import CssIcon from "../icons/CssIcon.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import TsIcon from "../icons/TsIcon.astro";
import TailwindIcon from "../icons/TailwindIcon.astro";
import GithubIcon2 from "../icons/GithubIcon2.astro";
import AstroIcon from "../icons/AstroIcon.astro";
---

<Layout title="Portafolio | Inaki Carcereny">
  <div class="grid grid-cols-4 gap-4">
    <span class="text-white bg-zinc-700 flex items-center flex-col font-semibold rounded-lg py-4">
      <HtmlIcon />
      HTML
    </span>
    <span class="text-white bg-zinc-700 flex items-center flex-col font-semibold rounded-lg py-4">
      <CssIcon />
      CSS
    </span>    
    <span class="text-white bg-zinc-700 flex items-center flex-col font-semibold rounded-lg py-4">
      <JavascriptIcon />
      JavaScript
    </span>    
    <span class="text-white bg-zinc-700 flex items-center flex-col font-semibold rounded-lg py-4">
      <ReactIcon />
      React
    </span>
    <span class="text-white bg-zinc-700 flex items-center flex-col font-semibold rounded-lg py-4">
      <TsIcon />
      TypeScript
    </span>
    <span class="text-white bg-zinc-700 flex items-center flex-col font-semibold rounded-lg py-4">
      <TailwindIcon />
      Tailwind
    </span>
    <span class="text-white bg-zinc-700 flex items-center flex-col font-semibold rounded-lg py-4">
      <GithubIcon2 />
      GitHub
    </span>
    <span class="text-white bg-zinc-700 flex items-center flex-col font-semibold rounded-lg py-4">
      <AstroIcon />
      Astro
    </span>
  </div>
</Layout>