---
import InstagramIcon from "../icons/InstagramIcon.astro"
import TwitterIcon from "../icons/TwitterIcon.astro"
import GithubIcon from "../icons/GithubIcon.astro"
---

<footer class="flex items-center justify-center mt-10">
  <ul class="flex items-center gap-4">
    <li class="hover:scale-125 px-2 py-1 rounded-md hover:bg-zinc-700">
      <a href="https://www.instagram.com/inaki.carce/" title="Instagram" target="_blank">
        <InstagramIcon />
      </a>
    </li>
    <li class="hover:scale-125 px-2 py-1 rounded-md hover:bg-zinc-700">
      <a href="https://twitter.com/_juancchhi" title="Twitter" target="_blank">
        <TwitterIcon />
      </a>
      </li>
    <li class="hover:scale-125 px-2 py-1 rounded-md hover:bg-zinc-700">
      <a href="https://github.com/InakiCarcereny" title="GitHub" target="_blank">
        <GithubIcon />
      </a>
      </li>
  </ul>
</footer>