---
import PersonalIcon from '../icons/PersonalIcon.astro'
import MoonIcon from '../icons/MoonIcon.astro'
---

<header class="flex items-center justify-between h-[80px] w-full">
  <a href="/" class="mx-2 px-2 py-2 hover:bg-zinc-700 rounded-xl">
    <PersonalIcon />
  </a>
  <button class="moon mx-2 px-2 py-2 hover:bg-zinc-700 rounded-xl">
    <MoonIcon />
  </button>
</header>

<style>
  .active {
    background-color: #fff;
  }
</style>

<script>
  const button = document.querySelector('.moon')
  const body = document.querySelector('html')

  button.addEventListener('click', () => {
    body.classList.toggle('active')
  })
</script>