---
import PersonalIcon from '../icons/PersonalIcon.astro'
import MoonIcon from '../icons/MoonIcon.astro'
---

<header class="flex items-center justify-between h-[80px] w-full">
  <a href="/" class="mx-2 px-2 py-2 hover:bg-zinc-700 rounded-xl">
    <PersonalIcon />
  </a>
  <div class="mx-2 px-2 py-2 hover:bg-zinc-700 rounded-xl">
    <MoonIcon />
  </div>
</header>