<div class="w-[600px] mx-auto my-0 mt-20">
  <nav class="flex items center justify-center">
    <ul class="flex items-center gap-4">
      <li>
        <a class="font-semibold text-zinc-500 text-lg hover:bg-zinc-700 px-10 py-2" href="/">About</a>
      </li>
      <li>
        <a class="font-semibold text-zinc-500 text-lg hover:bg-zinc-700 px-10 py-2" href="/projects">Projects</a>
      </li>
      <li>
        <a class="font-semibold text-zinc-500 text-lg hover:bg-zinc-700 px-10 py-2" href="/skills">Skills</a>
      </li>
    </ul>
  </nav>
  <main class="pt-8">
    <slot />
  </main>
</div>