<div class="max-w-[600px] mx-auto my-0 mt-16">
  <nav class="flex items-center justify-center">
    <ul class="flex items-center gap-4">
      <li>
        <a class="font-semibold text-zinc-500 text-lg px-10 py-2 relative hover:text-black dark:hover:text-white duration-200" href="/">About</a>
      </li>
      <li>
        <a class="font-semibold text-zinc-500 text-lg px-10 py-2 relative hover:text-black dark:hover:text-white duration-200" href="/projects">Projects</a>
      </li>
      <li>
        <a class="font-semibold text-zinc-500 text-lg px-10 py-2 relative hover:text-black dark:hover:text-white duration-200" href="/skills">Skills</a>
      </li>
    </ul>
  </nav>
  <main class="mt-16 mx-4 sm:mx-0">
    <slot />
  </main>
</div>

<style>
  li > a::after {
    content: '';
    background: #365314;
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 4px;
    height: 4px;
    width: 100%;
    border-radius: 10px;
  }
