---
import TwitterIcon from "@/icons/TwitterIcon.astro"
import DeveloperIcon from "@/icons/DeveloperIcon.astro"
import BriefcaseIcon from "@/icons/BriefcaseIcon.astro"
import LocationIcon from "@/icons/LocationIcon.astro"
import LinkIcon from "@/icons/LinkIcon.astro"
import CalendarIcon from "@/icons/CalendarIcon.astro"
---

<section class="w-[800px] my-0 mx-auto relative">
  <img class="w-full h-[250px]" src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcmo3cGd1ZHFoaWNwNTM1NGxhMGZzMGpqZTJpY3JpcXRndzkzZHAzdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/sTYIKqgygvg88/giphy.gif" decoding="async" loading="lazy" alt="background video like the users of X">
  <img class="rounded-full border-2 absolute top-44 left-24 h-36 w-36" src="foto.jpeg" decoding="async" loading="lazy" alt="user photo">
  <div class="flex justify-end">
    <a href="https://twitter.com/_juancchhi"
    target="_blank" 
    class="flex items-center justify-center mt-6 rounded-3xl px-4 py-1 gap-2 font-semibold text-white
     bg-lime-900 hover:scale-105 duration-150">
      Follow
      <TwitterIcon />
    </a>
  </div>
  <div class="flex flex-col w-[600px] my-0 mx-auto mt-6">
    <div class="flex items-center gap-4">
    <h1 class="font-semibold text-white text-5xl">Iñaki Carcereny</h1>
    <DeveloperIcon />
    </div>
    <p class="font-semibold text-lg text-zinc-500">@_juancchhi</p>
    <p class="font-semibold text-xl pt-4 text-white">Software Developer. </p>
    <div class="flex items-center mt-4 gap-4">
      <BriefcaseIcon />
      <LocationIcon />
      <LinkIcon />
      <CalendarIcon />
    </div>
  </div>
</section>