---
import FooterPage from '@/components/FooterPage.astro';
import HeaderPage from '@/components/HeaderPage.astro';
import PersonalData from '@/components/PersonalData.astro';
import NavPage from '@/components/NavPage.astro';
import Idea from '@/components/Idea.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#d9d7d7]">

		<HeaderPage />

		<PersonalData/>

		<NavPage>
			<slot />
		</NavPage>

		<FooterPage />

		<Idea />

	</body>
</html>
<style is:global>
	:root {
		@apply transition-colors duration-200 ease-in-out;
	}
	html {
		font-family: system-ui, sans-serif;
	}
	body.dark {
		background-color: #16191d;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>